* {
    margin: 0;
    border: 0;

}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;

}

.box{
    position: absolute;
    width: 50%;
    height: 50%;
}

.red{
    background: red;
    top: 0;
    left: 0;
}

.green{
    background: green;
    top: 0;
    right: 0;
}

.orange{
    background: orange;
    bottom: 0;
    left: 0;
}

.pink{
    background:#F40B7C;
    bottom: 0;
    right: 0;
}

.center-box{
    background-color: white;
    position: relative;
    
}